body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: ghostwhite;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 25rem;
    max-width: 100%;
    filter: drop-shadow(0 0 0.75rem darkblue);
    position: relative;
}

.score-box {
    text-align: right;
}

.quiz-box {
    width: 500px;
    max-width: 85%;
    background-color: #7b170f;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 10px 8px 10px darkblue;
    position: absolute;
}

.answers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin: 20px 0;
    height: 120px;
}

.button {
    font-weight: bold;
    font-size: larger;
    height: 150%;
    border: 2px solid;
    border-radius: 8px;
}

.button:hover {
    border-width: thick;
}

.button.wrong {
    border-color: red;
}

.next-button-hide {
    font-weight: bolder;
    font-size: larger;
    height: 3rem;
    width: 6rem;
    border: 2px solid;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
}